.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Trebuchet MS, sans-serif
}

.App-header > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.App-header > form {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.User-list {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Trebuchet MS, sans-serif
}

.Form {
  margin: 0 auto;
  width: 210px;
  /* align-items: center */
}

.Center {
  margin: auto;
  width: 60%;
  /* border: 3px solid #73AD21; */
  padding: 10px;
  padding-left: 300px;
}

.Button {
  margin: auto;
  width: 60%;
  /* border: 3px solid #73AD21; */
  padding: 10px;
  padding-left: 175px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Log-In-Button {
  border: none;
  color: white;
  width: 150px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: darkolivegreen;
}
.Log-Out-Button {
  border: none;
  color: white;
  width: 150px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: crimson 
}
.Register-Button {
  border: none;
  color: white;
  width: 150px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: DodgerBlue;
}
.Add-Button {
  border: none;
  color: white;
  width : 100px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: DodgerBlue ;
}
.Reset-Button {
  border: none;
  color: white;
  width : 100px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 5px;
  background-color: crimson ;
  margin-top:5px;
}